body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

div.a{
  text-align: right;
 padding-left: 10px;

}
td.b{
  text-align: right;
}
img.image{
  width: 100%;
  height: 300px;
}
.grid-container {
  display: grid;
  grid-template-columns: 15% 43% 40%;
  grid-gap: 10px;
  padding: 10px;
}

h2{
  color: #0e124c;
  border-bottom: 2px solid #0e124c;
}
li{
  list-style-type: none;
  
}
.Name{
  color: #0e124c;
  font-size: 24px;
  font-weight: bold;
}
.price{
  display:inline;
  padding-right: 30px;
  color: #0e124c;
  font-size: 14px;
  font-weight: bold;
  
}

.price1{
  display:inline;
  text-align: right;
  color: #0e124c;
  font-size: 14px;
  font-weight: bold;
  
}

.description{
  color: grey;
  font-size: 14px;
  max-width: 90%;
}
.popular {
  max-width: 60px;
  color: white;
  background-color:  #0e124c ;
  border-bottom: 2px solid #0e124c;
}
.line{
  float: left;
}

.form{
  display:flex;
  width: 100%;
  min-height: 1000%;
}
.form-container{
  display:flex;
  
  flex-direction: column;
  width:100%;
  height:auto;
  
  padding-left: .2rem;
  border:.1rem #0e124c solid;
  border-radius: .5rem;
  list-style-type:none;
  
}

@media only screen and (max-width: 600px) {
  .addButton {
    align-self: start;
    padding-left: 8%;
  }
}
@media only screen and (min-width: 800px) {
.addButton{
  align-self: start;
  padding-left: 70%;
}
}

.total{
  border-top: 2px solid #0e124c;
  text-align: right;
  color: #0e124c;
  font-size: 18px;
  font-weight: bold;
  padding-bottom: 15px;
}
.inputField{
  width: 100%;
}

.proceed{
    min-width: 100%;
    background-color:#0e124c ;
    color: white;
    height: 35px;
    font-size: 20px;
}
div button{
  display: inline-block;
}
a{
border: none;
}
.category{
  color: black;
  border: none;
  font-weight: bold;
  padding-top: 20px;

  font-size: 12px;
}

.spacing{
  padding-top: 15px;
}